<!DOCTYPE html>

<head>
	<title>App Direct</title>
	<link rel="stylesheet" type="text/css"  href="static/style/reset.css">
	<link rel="stylesheet" type="text/css"  href="static/style/main.css">

</head>
<body id="light">

	<div class="pageWrapper">
		
		<div class="contentWrapper">
			<header>
				<h1 id="page_title">A Little Twitter Page</h1>
             
                 <a href="" id="btn_settings">settings</a>
			</header>

			<div class="column col_1 " >
                 <div class="hotspot">
                        hotspot
                    </div>
				<div class="tweet_panel" id="panel_1">
					<div class="tweet_panel_header">
						<span class="title">
							
						</span>
						<span class="toolbar">
                            
                            <a href="" class="btn_sort asc">
          
                            </a>
                       
                            <a href="" class="btn_refresh">
                                
                            </a>
                          
                        </span>
					</div>
                    <div class="tweets_container"></div>
				</div>
			</div>

			<div class="column col_2 ">
                 <div class="hotspot">
                        hotspot
                    </div>
				<div class="tweet_panel" id="panel_2">
					<div class="tweet_panel_header">
						<span class="title">
							
						</span>
						<span class="toolbar">
                             <a href="" class="btn_sort asc">
                            </a>
                       
                            <a href="" class="btn_refresh">
                           
                            </a>
                        </span>
					</div>
                    <div class="tweets_container"></div>
				</div>
			</div>

			<div class="column col_3 ">
                 <div class="hotspot">
                        hotspot
                    </div>
				<div class="tweet_panel" id="panel_3">
					<div class="tweet_panel_header">
						<span class="title">
						
						</span>
						<span class="toolbar">
                            <a href="" class="btn_sort asc">
                               
                            </a>
                       
                            <a href="" class="btn_refresh">
                          
                            </a>
                        </span>
					</div>
                    <div class="tweets_container"></div>
				</div>
			</div>

		</div>
		
	</div>

    <div id="settings_overlay"></div>
    <div id="settings_panel">
        
        <header>
            <h2>Settings</h2>
        </header>
        <div class="settings_container">
            <form >
                <div id="theme_section" class="form_section">
                        <header>
                            <h3>Theme</h3>
                        </header>
                        <p class="sub_form_heading">choose theme</p>
                        <p class="spacer">
                            <input type="radio" id="radlight" name="theme" value="light" checked="checked" /> <label for="radlight">light</label>
                            <input type="radio" id="raddark" name="theme" value="dark" /> <label for="raddark">dark</label>
                          
                        </p>

                </div>
                <br/>
                <div id="twitter_section" class="form_section">
                    <header>
                        <h3>Twitter</h3>
                    </header>
                    <div  id="timeline">
                        <p class="sub_form_heading">enter timelines</p>
                        <p class="spacer">Panel 1 : <input type="text" class="timeline_input" name="panel1" data-index="0" /></p>
                        <p class="spacer">Panel 2 : <input type="text" class="timeline_input" name="panel2" data-index="1" /></p>
                        <p class="spacer">Panel 3 : <input type="text" class="timeline_input" name="panel3" data-index="2" /></p>
                    </div>
                  
                    <hr/>
                    <p class="sub_form_heading">number of tweets ?  <input type="text" id="num_of_tweets" /></p>
                    <p class="sub_form_heading">reposition columns by dragging them</p>
                        
                </div>

            </form>


        </div>
        
    
    </div>
    
    <script id="tweet-template" type="text/template">
        <div class="tweet_image_container green">
            <img src="<%= profile_img %>" alt="profile image" width="48" height="48"/></div>
            <div class="tweet_info_container">
                <header>
                    <span class="name"><%= name %></span>
                    <span class="screen_name">@<%= screen_name %></span>
                    <span class="posted"><%= posted %></span>
                </header>
                <section><%= text %></section>
                <p><a class="show_link" href="<%= tweet_url %>" >show</a></p>
                <% if (mentions != "") { %>
                    <p>Mentions - <%= mentions %></p>
                <% }else { %>
                    <p>No Mentions</p>
                <% } %>
            </div>
        </div>
    </script> 

	
    <script type="text/javascript" src="static/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="static/js/underscore-min.js"></script>
    <script type="text/javascript" src="static/js/controller.js"></script>
    <script type="text/javascript" src="static/js/tweetserver.js"></script>
    <script type="text/javascript" src="static/js/models.js"></script>
    <script type="text/javascript" src="static/js/views.js"></script>
	<script type="text/javascript" src="static/js/main.js"></script>
    <script type="text/javascript" src="static/js/dragging.js"></script>


  
</body>
</html>